* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.viewport {
    background-color: #000;
    height: 504px;
    margin: 100px auto;
    outline: 1px solid #333;
    overflow: hidden;
    width: 896px;
}

.canvas {
    background-color: #fafafa;
    image-rendering: pixelated;
    transform: scale(1);
}